@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*
===== Variables =====
*/

:root {
  --bg-color: #000000;
  --bg-section: #121212;
  --bg-sub-section: #1f1f1f;
  --bg-sub-section-hover: #282828;
}


/*
===== General =====
*/

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}